body{
  font-family: helvetica, sans-serif;;
}
#game {
  border: solid 2px black;
  position: absolute;
  right: 30%;
  top: 10%;
 background-color: black;
}

#overlay {
  width: 600px;
  height: 600px;
  background-color: black;
  position: absolute;
  right: 30%;
  top: 10%;
  text-align: center;
}

h1 {
  margin-top: 200px;
  color: white;
}

button {
  margin: auto;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  font-size: 16px;
}

#instructions {
  margin-top: 200px;
  color: white;
}
