body{
  font-family: 'Monoton', cursive;
  color: white;
}

button {
  margin: 40px auto;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  font-size: 16px;
}

.title {
  font-size: 50px;
}

.title span {
  padding: -20px, auto;
  display: block;
  font-size: 16px;
}

.info {
  font-family: helvetica, serif;
  font-size: 20px;
}

.info span {
  color: red;
  font-weight: bold;
}

#game {
  border: solid 2px black;
  position: absolute;
  right: 30%;
  top: 10%;
  /*background-color: black;*/
  background-image: url('lib/images/starBackground.jpg');
}

#start-overlay {
  width: 600px;
  height: 600px;
  background-color: black;
  position: absolute;
  right: 30%;
  top: 10%;
  text-align: center;
}

#end-overlay {
  width: 600px;
  height: 600px;
  background-color: black;
  position: absolute;
  right: 30%;
  top: 10%;
  text-align: center;
}
