body{
  font-family: helvetica, sans-serif;
  color: white;
}

h1 {
  margin-top: 200px;
}

button {
  margin: auto;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  font-size: 16px;
}

#game {
  border: solid 2px black;
  position: absolute;
  right: 30%;
  top: 10%;
  /*background-color: black;*/
  background-image: url('lib/images/starBackground.jpg');
}

#start-overlay {
  width: 600px;
  height: 600px;
  background-color: black;
  position: absolute;
  right: 30%;
  top: 10%;
  text-align: center;
}

#end-overlay {
  width: 600px;
  height: 600px;
  background-color: black;
  position: absolute;
  right: 30%;
  top: 10%;
  text-align: center;
}

#instructions {
  margin-top: 200px;
}

#instructions span {
  color: red;
  font-weight: bold;
}
